a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
    color: #fff;
}

a {
    color: #605ca8;
}

.btn-primary {
    background-color: #605ca8 !important;
    border-color: #605ca8 !important;
}

.btn-primary a {
    color: #fff;
}

.color_red {
    Color: red;
    Font-size: 14px;
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #605ca8 !important;
    border-color: #605ca8 !important;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover {
    background-color: #605ca8 !important;
    border-color: #605ca8 !important;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #605ca8;
    border-color: #605ca8;
}


/*.td_110 {
  width: 110px;
}*/

table {
    width: 100%;
}

table th {
    text-align: left;
    border-bottom: 1px solid #000;
}

table th,
table td {
    padding: 0.4em;
}

table.fold-table>tbody>tr.view td,
table.fold-table>tbody>tr.view th {
    cursor: pointer;
}

table.fold-table>tbody>tr.view td:first-child,
table.fold-table>tbody>tr.view th:first-child {
    position: relative;
    padding-left: 20px;
}

.table-bordered {
    border: 1px solid #f4f4f4;
    position: relative;
}

table.fold-table>tbody>tr.view:nth-child(4n-1) {
    background: #eee;
}

table.fold-table>tbody>tr.view:hover {
    background: #ddd;
}

table.fold-table>tbody>tr.view.open {
    background: #dadada;
    color: #000;
}

table.fold-table>tbody>tr.view.open td:first-child:before,
table.fold-table>tbody>tr.view.open th:first-child:before {
    transform: rotate(-180deg);
    color: #000;
}

table.fold-table>tbody>tr.fold {
    display: none;
}

table.fold-table>tbody>tr.fold.open {
    display: table-row;
}

.fold-content {
    padding: 0.5em;
}

.fold-content h3 {
    margin-top: 0;
}

.fold-content>table {
    border: 2px solid #ccc;
}

.fold-content>table>tbody tr:nth-child(even) {
    background: #000;
}

.statusIndicator.active {
    background: #605ca8 !important;
}

.pl {
    display: inline-block;
    line-height: 1;
    vertical-align: baseline;
    margin: 0em 0.14285714em;
    background: #605ca8 !important;
    background-image: none;
    padding: 5px;
    color: #fff;
    text-transform: none;
    font-weight: bold;
    border: 0px solid transparent;
    border-radius: 0.28571429rem;
    -webkit-transition: background 0.1s ease;
    transition: background 0.1s ease;
}

.tag {
    border: 1px solid rgba(195, 195, 195, 0.5);
    background-color: #e8e8e8;
    margin: 0em 2.5em 0em 0em;
    text-align: center;
}

.delivered {
    box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
    background-color: #605ca8;
    color: #fff !important;
    padding: 5px 8px;
}


/*.td_100 {
  width: 100px;
}*/

.table_style_info th {
    border: none;
}

.table_style_info,
.historyTabl {
    border: 1px solid #f1f1f1;
    background: #f9fafb;
    margin-top: 20px;
}

.ui.steps:last-child {
    margin-bottom: 0em;
}

.ui.steps:first-child {
    margin-top: 0em;
}

.table_style_accordion .ui.steps {
    border: 1px solid rgba(34, 36, 38, 0.08) !important;
}

.ui.steps {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: 1em 0em;
    background: "";
    box-shadow: none;
    line-height: 1.14285714em;
    border-radius: 0.28571429rem;
}

.delete_police {
    /*-webkit-box-shadow: rgb(255, 105, 102) -49px 39px 0px -50px;
    box-shadow: rgb(255, 105, 102) -49px 39px 0px -50px;*/
    background: #605ca8;
    color: #fff;
    padding: 8px 20px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.delete_police:hover {
    color: #fff;
    background: #504d86;
}

.delete_police:hover {
    color: #fff;
}

.content2 {
    padding: 6px;
    margin-right: 0px;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: #e1e6f1;
    border: 1px solid #ececec;
    margin-top: 10px;
    text-align: left;
    color: #504e4e;
}

.table_style_accordion .ui.steps .step:first-child,
.innerPage_stepDiv .ui.steps .step:first-child {
    padding-left: 15px !important;
}

.ui.steps .link.step:active::after,
.ui.steps .link.step:active,
.ui.steps a.step:active::after,
.ui.steps a.step:active {
    background: #f3f4f5;
    color: rgba(0, 0, 0, 0.9);
}

.ui.steps .link.step:hover::after,
.ui.steps .link.step:hover,
.ui.steps a.step:hover::after,
.ui.steps a.step:hover {
    background: #f9fafb;
    color: rgba(0, 0, 0, 0.8);
}

.ui.steps .step:first-child {
    padding-left: 2em;
    border-radius: 0.28571429rem 0em 0em 0.28571429rem;
}

.table_style_accordion .ui.steps .step {
    padding: 1.14285714em 1em !important;
}

.ui.steps .link.step,
.ui.steps a.step {
    cursor: pointer;
}

.ui.step,
.ui.steps .step {
    font-size: 1rem;
}

.ui.steps .step {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0em 0em;
    padding: 1.14285714em 2em;
    background: #ffffff;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: none;
    border-radius: 0em;
    border: none;
    border-right: 1px solid rgba(34, 36, 38, 0.15);
    -webkit-transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease, box-shadow 0.1s ease;
    transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease, box-shadow 0.1s ease;
}

.step.turn-around-timeDiv {
    cursor: default !important;
}

.table_style tbody tr td a {
    cursor: pointer;
    text-decoration: none;
}

.table_style tbody tr td a {
    color: rgba(255, 64, 129, 0.7);
}

.table_style_accordion .ui.steps .step .title,
.innerPage_stepDiv .ui.steps .step .title {
    color: #757575;
    font-weight: 600;
    font-size: 12px;
}

.ui.steps .step .title {
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 1.14285714em;
    font-weight: bold;
}

.turn-around-timeDiv .title {
    color: #757575;
    font-weight: 600;
    font-size: 12px;
}

.table_style_accordion .ui.steps .step .title,
.innerPage_stepDiv .ui.steps .step .title {
    color: #757575;
    font-weight: 600;
    font-size: 12px;
}

.ui.steps .step .title {
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 1.14285714em;
    font-weight: bold;
}

.turn-around-timeDiv .title {
    color: #757575;
    font-weight: 600;
    font-size: 12px;
}

.steps .step:after {
    display: block;
}

.step:after {
    display: none;
    position: absolute;
    z-index: 2;
    content: "";
    top: 50%;
    right: 0%;
    border: medium none;
    background-color: #ffffff;
    width: 1.14285714em;
    height: 1.14285714em;
    border-style: solid;
    border-color: rgba(34, 36, 38, 0.15);
    border-width: 0px 1px 1px 0px;
    -webkit-transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease, box-shadow 0.1s ease;
    transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease, box-shadow 0.1s ease;
    -webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg);
    -ms-transform: translateY(-50%) translateX(50%) rotate(-45deg);
    transform: translateY(-50%) translateX(50%) rotate(-45deg);
}

.turn-around-timeDiv:after {
    height: 105% !important;
    width: 8px !important;
    -webkit-transform: translateY(-50%) translateX(50%) rotate(0deg) !important;
    -ms-transform: translateY(-50%) translateX(50%) rotate(0deg) !important;
    transform: translateY(-50%) translateX(50%) rotate(0deg) !important;
    border-left: 1px solid rgba(34, 36, 38, 0.1) !important;
}

.steps .link.step:active::after,
.ui.steps .link.step:active,
.ui.steps a.step:active::after,
.ui.steps a.step:active {
    background: #f3f4f5;
    color: rgba(0, 0, 0, 0.9);
}

.steps .link.step:hover::after,
.ui.steps .link.step:hover,
.ui.steps a.step:hover::after,
.ui.steps a.step:hover {
    background: #f9fafb;
    color: rgba(0, 0, 0, 0.8);
}

.pb_36 {
    padding-bottom: 36px !important;
}

.description {
    color: #ff473d;
    font-size: 12px !important;
    font-weight: bold !important;
}

.dataTables_info {
    padding-top: 8px;
    white-space: nowrap;
}

.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
}

.px_15 {
    padding: 0 15px;
}

.content3 {
    padding: 6px;
    margin-right: 0px;
    padding-left: 15px;
    padding-right: 15px;
    background: #e1e6f1;
    border: 1px solid #ececec;
    margin-top: 10px;
    text-align: left;
    color: #504e4e;
}

.content3:not(:first-child) {
    margin-left: 10px;
}

.failed-circle {
    color: red !important;
}

.circle-icon {
    font-size: 8px !important;
    padding: 3px;
    padding-bottom: 5px;
    vertical-align: inherit !important;
}

.table-responsive {
    display: block;
    /* width: 100%; */
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.box-body {
    overflow: hidden;
}


/*profile page css*/

.profile_container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}


/*.width-200 {
  width: 200px;
}

.width-340 {
  width: 341px;
}

.width-500 {
  width: 500px;
}*/

.back_fff {
    background-color: #fff;
}

.dis-flex {
    display: flex;
    justify-content: space-between;
}

.sortable thead {
    background-color: #e1e6f1;
}

.doc_table_title h5 {
    font-weight: 700;
}

.heading_bod {
    border: 1px solid #ccc;
    padding: 5px 10px;
}

.ui-datepicker-calendar thead th {
    padding: 0.25rem 0;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;
    color: #78909c;
}

.ui-datepicker-calendar tbody td {
    width: 2.5rem;
    text-align: center;
    padding: 0;
}

.ui-datepicker-calendar tbody td a {
    display: block;
    border-radius: 0.25rem;
    line-height: 2rem;
    transition: 0.3s all;
    color: #546e7a;
    font-size: 0.875rem;
    text-decoration: none;
}

.ui-datepicker-calendar tbody td a:hover {
    background-color: #e0f2f1;
}

.ui-datepicker-calendar tbody td a.ui-state-active {
    background-color: #009688;
    color: white;
}

.ui-datepicker-header a.ui-corner-all {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    border-radius: 0.25rem;
    transition: 0.3s all;
}

.ui-datepicker-header a.ui-corner-all:hover {
    background-color: #eceff1;
}

.ui-datepicker-header a.ui-datepicker-prev {
    left: 0;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-size: 0.5rem;
    background-position: 50%;
    transform: rotate(180deg);
}

.ui-datepicker-header a.ui-datepicker-next {
    right: 0;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 50%;
}

.ui-datepicker-header a>span {
    display: none;
}

.ui-datepicker-title {
    text-align: center;
    line-height: 2rem;
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    padding-bottom: 0.25rem;
}

.ui-datepicker-week-col {
    color: #78909c;
    font-weight: 400;
    font-size: 0.75rem;
}

.skin-blue .wrapper {
    background-color: #fff;
}

#ui-datepicker-div {
    background: #f5f5f5;
}

.form-control-plaintext {
    border: none;
    color: #605ca8;
    font-weight: 600;
    font-size: 16px;
    margin-left: 10%;
}

.date_div {
    margin-bottom: 15px;
}

.date_div label {
    width: 100% !important;
}

.date_div input {
    width: 100% !important;
    border-color: #d2d6de;
    height: 34px;
}

.select_lebel {
    margin-left: -2%;
}

.task-modal .modal-header .close {
    margin-top: -21px;
}

#datepicker:after {
    content: "\e155";
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: block;
    font-family: "Glyphicons Halflings";
    opacity: 0.5;
}

.popup_btn {
    background: none !important;
    border: none !important;
    color: #605ca8;
}

.form-group label {
    width: 100%;
}

.sortable thead tr th {
    /*background: url(../../dist/img/sort.png) center right 10px no-repeat transparent;*/
    cursor: pointer;
}

.sort_div {
    width: 10px;
    height: 10px;
    margin-left: 4%;
}

.icheck>label {
    padding-left: 19px;
}

.modal-header .close {
    font-size: 30px;
    height: 40px;
    width: 40px;
}

#file-upload {
    position: absolute;
    left: -9999px;
}

form label.error {
    Color: red;
    Font-size: 14px;
}

.file-upload {
    position: absolute;
    left: -9999px;
}

label[for="file-upload"] {
    padding: 0.5em;
    display: inline-block;
    background: #fff;
    cursor: pointer;
}

.file-upload-div label {
    padding: 0.5em;
    display: inline-block;
    background: #fff;
    cursor: pointer;
}

label[for="file-upload"]:hover {
    background: #fff;
}

#filename {
    padding: 0.5em;
    float: left;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    background: #fff;
}

.filename {
    padding: 0.5em;
    float: left;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    background: #fff;
}

.file-upload-div {
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}

.logo_del {
    font-size: 21px;
}

#file-upload2 {
    position: absolute;
    left: -9999px;
}

label[for="file-upload2"] {
    padding: 0.5em;
    display: inline-block;
    background: #fff;
    cursor: pointer;
}

label[for="file-upload2"]:hover {
    background: #fff;
}

#filename2 {
    padding: 0.5em;
    float: left;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    background: #fff;
}

.file-upload-div {
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    position: relative;
}

select.form-control.error {
    color: #555;
}

.file-upload-div label.error {
    position: absolute;
    left: 0;
    background: transparent;
    top: 85%;
    padding: 0;
    padding-top: 6px;
}

.mb_36 {
    margin-bottom: 36px;
}

.table-bordered>thead>tr>th {
    border-right: none;
}

thead {
    background: #e1e6f1;
}

.label-secondary {
    background-color: #ccc;
    text-align: center;
    font-size: 14px;
    /* padding: 5px; */
    line-height: -4.1;
    height: 25px;
    width: 25px;
    position: relative;
    top: -3px;
}

.active-btn {
    box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
    background-color: #00a65a;
    color: #fff;
    padding: 5px 8px;
}

.na {
    display: inline-block;
    line-height: 1;
    vertical-align: baseline;
    margin: 0em 0.14285714em;
    background: #605ca8 !important;
    background-image: none;
    padding: 5px;
    color: #fff;
    text-transform: none;
    font-weight: bold;
    border: 0px solid transparent;
    border-radius: 0.28571429rem;
    -webkit-transition: background 0.1s ease;
    transition: background 0.1s ease;
}

.login-box-body a:hover {
    color: #000;
}

.register-box-body a:hover {
    color: #000;
}

.si:hover {
    color: #fff !important;
    border: none !important;
}

.width-100 {
    width: 100%;
}


/*
.width-2000 {
  width: 2000px;
}*/

.pt-5 {
    padding-top: 36px !important;
}

.skin-blue .sidebar-menu>li>.treeview-menu {
    margin-left: 3%;
}

.mt_5 {
    margin-top: 2.5rem !important;
}

.customer_link td a {
    color: #000;
}

.customer_link td a:hover {
    color: #000;
}

#tabsContainer .modal-body {
    display: -webkit-box !important;
}

#tabsContainer .input-group {
    display: block !important;
}

#tabsContainer .form-group {
    display: block !important;
    width: 100%;
}

#tabsContainer .modal-footer {
    display: block !important;
}

.date_range {
    background: url(../../dist/img/calendar.png) center right 10px no-repeat transparent;
    cursor: pointer;
    margin-bottom: 30px;
}

.cat_div {
    height: 35px;
}

.cat_list {
    display: flex;
    justify-content: start;
}

.insurer_link:hover {
    color: #000;
}

.color_blue {
    color: #605ca8;
}

.insurer_head {
    display: flex;
    justify-content: space-between;
}

.insurer_detail_form {
    padding: 10px 20px;
}

.checkbox-four {
    position: relative;
    display: block;
    width: 58px;
    height: 28px;
}

.checkbox-four input {
    display: none;
}

.checkbox-four input:checked+.track {
    background-color: #66bb6a;
}

.checkbox-four input:checked+.track:before {
    -webkit-transform: translateX(28px);
    transform: translateX(28px);
}

.checkbox-four input:checked+.track:after {
    content: "on";
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.checkbox-four .track {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.38);
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.checkbox-four .track:before {
    content: "";
    position: absolute;
    background-color: #fafafa;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.checkbox-four .track:after {
    content: "off";
    position: absolute;
    -webkit-transform: translateX(28px);
    transform: translateX(28px);
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.checkbox-four .thumb:before {
    top: 1px;
    left: 1px;
    width: calc(50% - 1px);
    height: calc(100% - 2px);
    z-index: 2;
}

.checkbox-four .thumb:after {
    color: #ffffff;
    font-size: 8px;
    font-weight: bold;
    text-transform: uppercase;
    top: 1px;
    left: 1px;
    width: calc(50% - 1px);
    height: calc(100% - 2px);
    text-align: center;
    line-height: 28px;
    z-index: 1;
}

#ic,
#passport {
    display: none;
}

.insurer_tab {
    width: 100%;
}

.insurer_tab .tabs__navigation button {
    width: 25%;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    background-color: #605ca8;
}

.insurer_tab .tabs__navigation button.active {
    color: #fff;
    background-color: #00a65a;
}

.insurer_tab .tabs__navigation button:hover {
    background: #605ca8;
    cursor: pointer;
}

.insurer_tab .tabs__navigation button.active:hover {
    background-color: #605ca8;
    opacity: 0.9;
}

.insurer_tab #tabs__content {
    padding: 20px;
}

.insurer_tab .single__tab {
    display: none;
}

.insurer_tab .single__tab.active {
    display: block;
}

#select-box {
    width: 100%;
}

#tab-2 {
    margin-top: 30px;
}

.sig:hover {
    color: #000;
}

.insurer_link {
    color: #000;
}

#Car .box,
.box-header,
.box-tools {
    display: block !important;
}

.box {
    border-top: 3px solid #e1e6f1;
}

a:hover,
a:active,
a:focus {
    color: #000;
}

.car_tab_section .insurer_tab,
.tabs__navigation,
#tabs__content {
    display: block !important;
}

.car_tab_section .insurer_tab .single__tab.active {
    display: block !important;
    display: block;
}

.reset-password-wrap{
    margin: 0px;
}

.reset-password-wrap .card-header{
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    padding: 40px 0;
}

.login-btn-submit {
    background-color: #FFA500 !important;
    width: 100%;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 0.575rem .75rem;
}

#size_select {
    width: 100%;
}

.insurer_tr {
    cursor: pointer;
}

.insurer_profile_tr {
    cursor: pointer;
}

#dataTableCustomer_filter .input-sm {
    background: url(../../dist/img/search.png) center right 10px no-repeat transparent;
}

.dataTables_filter .input-sm {
    background: url(../../dist/img/search.png) center right 10px no-repeat transparent;
}

.compare_vlaue_field {
    margin-bottom: 20px !important;
}

.multi-field {
    margin-bottom: 20px !important;
}

.compare_vlaue_field input {
    width: 74%;
    margin-bottom: 3px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.text-right {
    text-align: right;
}

.modal-header .close {
    margin-top: -15px;
}

.tab_content {
    padding: 15px 0;
}


/* Data Tables */

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    border: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 0;
    padding: 0;
    margin-left: 0;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: transparent !important;
    border: none;
    border-radius: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: none;
    background-color: #585858;
    background: transparent !important;
}

td.details-control {
    background: url("../img/details_open.png") no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url("../img/details_close.png") no-repeat center center;
}

table.dataTable thead th {
    position: relative;
    background-image: none !important;
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: 12px;
    right: 8px;
    display: block;
    font-family: FontAwesome;
}

table.dataTable thead th.sorting:after {
    content: "\e150";
    color: #888 !important;
    opacity: 0.5;
    font-size: 0.8em;
    font-family: "Glyphicons Halflings";
    /* padding-top: 0.12em; */
}

table.dataTable thead th.sorting_asc:after {
    content: "\f160";
    font-size: 0.8em;
    /* padding-top: 0.12em; */
}

table.dataTable thead th.sorting_desc:after {
    content: "\f161";
    font-size: 0.8em;
    /* padding-top: 0.12em; */
}

.dataTables_length {
    margin-top: 10px;
}

#databatleSort_filter {
    margin-top: 10px;
}

.dataTables_filter {
    margin-top: 10px;
}

.document_div {
    margin-bottom: 15px;
    padding: 3px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.w-100 {
    width: 100% !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #605ca8 !important;
    border-color: #605ca8 !important;
    padding: 1px 10px;
    color: #fff;
}

.update_link {
    height: 25px;
    width: 25px;
    font-size: 19px;
}

.document_icon_list {
    padding: 0;
    list-style: none;
}

.document_icon_listLink {
    display: inline-block;
    padding: 0 4px;
}

#demo {
    width: 100%;
}

.modal.cod-payment .modal-header{
    background-color: #605ca8;
    color: #fff;
}
.modal.cod-payment .modal-header .close span{
    color: #fff;
}
.modal.cod-payment .modal-body .go{
    border: none;
    background-color: #605ca8;
    color: #fff;
    padding: 10px 15px;
}

.custom_scoll .ui{
    align-items: center;
}

.custom_scoll .ui .cod-btn{
    background-color: #605ca8;
    color: #fff;
    padding: 15px;
    margin-left: 20px;
    margin-top: 10px;
}